.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5% 0;

    .imagesWrapper {

        display: flex;

        .laptop {
            width: 200px;
            transition: all 0.3s ease-in-out;

            &:hover {
                transform: translateY(-10px);
                

                & + .shadowLaptop {
                    background-color: rgb(0, 0, 0);
                    border-radius: 50%;
                    width: 120px;
                    padding: 0;
                    margin: auto;
                    box-shadow: 2px 2px 30px 2px #ffdf8d;
                    transition: all 0.8s ease-in-out;
                }
            }
        } 

        .tablet {
            width: 200px;
            transition: all 0.3s ease-in-out;

            &:hover {
                transform: translateY(-10px);

                & + .shadowtablet {
                    background-color: rgb(0, 0, 0);
                    border-radius: 50%;
                    width: 80px;
                    padding: 0;
                    margin: auto;
                    box-shadow: 2px 2px 30px 2px #ffdf8d;
                    transition: all 0.8s ease-in-out;
                }
            }
        }
    }
}

.overlayText {
    color: white;
}

.button {
    background-color: black;
    color: white;
    margin-right:10px ;

    &:hover {
        background-color: #ffdf8d;
        color: rgb(17, 16, 11);
    }
}

.buttonBottom{
    background-color: transparent;
    color: #b5891b;
}