.navbar {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg,#856e23 51%, #604b07 100%);
  padding: 0.3rem 1rem;
  border-radius: 30px;
  margin: 2rem 5%;
}

.navItem {
    margin-left: 50px;
}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  
}

.navLink {
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
  transition: color 0.3s ease;
  font-weight: 300;
  letter-spacing: -0.8px;

  &:hover {
    color: #fff4d0; /* Color al pasar el ratón */
  }
}

.button {
  background-color: white;
  color: black;

  &:hover{
    background-color: #826a2e9a;
    color:white;
  }
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;

  &:hover{
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out, transform 0.2s ease-in-out;
    cursor: pointer;
  }
}

.activeLink {
  /* Estilo para el enlace activo (opcional) */
  color: #007bff;
  font-weight: bold;
}

.mobileMenuButton {
  /* Estilos para el botón del menú móvil (para pantallas pequeñas) */
  display: none; /* Oculto por defecto en pantallas grandes */
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
}

.mobileMenuIcon {
  /* Estilos para el icono dentro del botón del menú móvil */
  width: 24px;
  height: 24px;
  /* Puedes usar SVG o fuentes de iconos aquí */
}

/* Estilos para el menú desplegable en pantallas pequeñas */
.mobileNavList {
  display: none; /* Oculto por defecto */
  list-style: none;
  padding: 0;
  margin-top: 1rem;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mobileNavItem {
  padding: 0.75rem 1.5rem;
  border-bottom: 1px solid #eee;

  &:last-child {
    border-bottom: none;
  }
}

.mobileNavLink {
  text-decoration: none;
  color: #555;
  font-size: 1rem;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
  .navList {
    display: none; /* Ocultar la lista de navegación principal */
  }

  .mobileMenuButton {
    display: block; /* Mostrar el botón del menú móvil */
  }

  .mobileNavList.open {
    display: block; /* Mostrar el menú móvil cuando esté abierto */
  }
}
