/* === Navbar general === */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 20px;
  gap: 20px;
  background: linear-gradient(90deg, #856e23db 51%, #604b07a0 100%);
  padding: 0.5rem 1rem;
  border-radius: 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  box-shadow: 0 2px 10px #2e2404;
  transition: transform 0.3s ease-in-out;
  width: calc(100% - 40px);
  position: relative;
}

/* Esconde navbar al hacer scroll hacia abajo */
.hidden {
  transform: translateY(-300%);
}

/* === Logo === */
.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: opacity 0.3s ease-in-out, transform 0.2s ease-in-out;
  cursor: pointer;
}

.logo:hover {
  opacity: 0.8;
}

/* === Lista navegación desktop === */
.navList {
  display: none;
  align-items: center;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navItem {
  margin: 0;
}

.navLink {
  text-decoration: none;
  color: #fffbee;
  font-size: 13px;
  font-weight: 100;
  transition: color 0.3s ease;
}

.navLink:hover {
  color: #ffdf77;
}

.activeLink {
  color: #007bff;
  font-weight: bold;
}

/* === Botón principal === */
.button {
  background-color: white;
  color: black;
  padding: 0.4rem 1rem;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
  background-color: #826a2e9a;
  color: #fff6df;
}

/* === Botón hamburguesa (visible en móviles) === */
.mobileMenuButton {
  display: flex;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
}

.navListPhone {
  display: flex;
  flex-direction: column;
  position: absolute;
  list-style: none;
  margin-top: 100%;
  gap: 10px;
  align-items: center;
  background-color: #2e2404;
  width: 100%;
}
