.footer {
  background: #251e04b3;
  color: #ffeca6;
  padding: 4rem 2rem 1rem;
  margin-top: 10rem;
  font-size: 0.95rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.section {
  flex: 1 1 200px;
  min-width: 200px;
}

.logo {
  margin-bottom: 20px;
}

.description {
  line-height: 1.6;
  color: #f9e6a4;
  letter-spacing: -0.8px;
  font-size: 14px;
}

.title {
  font-weight: 600;
  margin-bottom: 1rem;
  color: #ffe895;
}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navList li {
  margin-bottom: 0.5rem;
}

.navList a,
.link {
  color: #faedbd;
  text-decoration: none;
  transition: color 0.3s ease;
  letter-spacing: -0.8px;
  font-size: 14px;
}

.navList a:hover,
.link:hover {
  color: #ffe895;
}

.socials {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}

.socials a {
  color: #f9e6a4;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.socials a:hover {
  color: #7b6517;
}

.bottom {
  border-top: 1px solid #947918;
  margin-top: 2rem;
  padding-top: 1.5rem;
  text-align: center;
  font-size: 0.7rem;
  color: #ffe895;
  letter-spacing: -0.8px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.legalLink {
  margin-left: 1rem;
  color: #ffe895;
  text-decoration: none;
}

.legalLink:hover {
  color: #ffe895;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1 1 200px;
  min-width: 200px;
}

.contact .link {
  font-size: 12px;
}
