.section {
  padding: 15rem 2rem;
}
.title {
  text-align: center;
  margin-bottom: 5rem;
  color: #fff6db;
}
.list {
  max-width: 700px;
  margin: 0 auto;
  display: grid;
  gap: 1.5rem;
}
.list li {
  font-size: 0.9rem;
  letter-spacing: -1px;
  color: #ffedb2;
}
.list span {
  font-weight: bold;
  margin-right: 0.5rem;
}

