.container {
    display: flex;
    justify-content: space-around;
    padding: 3rem 0;
    margin-top: 10%;
}

.content {
    display: flex;
    gap: 5rem;
    flex-direction: column;
}

.title {
    letter-spacing: -1px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.item {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.imageWrapper .image{
    width: 300px;
    border-radius: 20px;
    box-shadow: 1px 10px 30px black;
    transition: all 0.3s ease-in-out;

    &:hover {
        transform:translateY(-10px);
        box-shadow: 1px 10px 30px #4D421E;
    }
}

.icon {
    padding: 5px;
    margin: 5px;
    background-color: #2b2206;
    border-radius: 20px;
    font-size: 14px;
}