.container {
    display: flex;
    justify-content: space-around;
    padding: 3rem 0;
    margin-top: 10%
}

.content {
    display: flex;
    gap: 5rem;
    flex-direction: column;
}

.title {
    letter-spacing: -1px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.item {
    display: block;
    font-size: 14px
}